
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>
    <div class="modal-header" style="background-color: #00b3ee; color: white">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()" style="color:white; font-size: 40px; outline:0;">&times;</button>
        <h4 class="modal-title" id="myBodyPartLabel">Crear o editar parte del cuerpo</h4>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-show="vm.bodyPart.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input style="outline:0" type="text" class="form-control" id="id" name="id"
                    ng-model="vm.bodyPart.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Nombre</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.bodyPart.name"
                    required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_image">Imagen</label>
            <input type="text" class="form-control" name="image" id="field_image"
                    ng-model="vm.bodyPart.image"
                    required/>
            <div ng-show="editForm.image.$invalid">
                <p class="help-block"
                    ng-show="editForm.image.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_status">Disponible</label>
                <input type="checkbox" name="status" id="field_status"
                          ng-model="vm.bodyPart.status"/>
        </div>

        <div class="form-group">
            <label for="field_subCategory">Subcategoria</label>
            <select class="form-control" id="field_subCategory" name="subCategory" ng-model="vm.bodyPart.subCategoryId" ng-options="subCategory.id as subCategory.name for subCategory in vm.subcategories"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()" style="background-color: #55dae1; color:white;outline:0;border-color: transparent">
            <span></span>&nbsp;<span>Cancelar</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary" style="background-color:#a4dd36;outline:0;border-color: transparent">
            <span></span>&nbsp;<span>Guardar</span>
        </button>
    </div>
</form>
