<div>
    <h2 data-translate="stretchCmsApp.userHealth.home.title">User Healths</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="user-health.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="stretchCmsApp.userHealth.home.createLabel">
                        Create new User Health
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="stretchCmsApp.userHealth.workHours">Work Hours</span></th>
                    <th><span data-translate="stretchCmsApp.userHealth.doesWorkOut">Does Work Out</span></th>
                    <th><span data-translate="stretchCmsApp.userHealth.isSmoker">Is Smoker</span></th>
                    <th><span data-translate="stretchCmsApp.userHealth.isHealthFood">Is Health Food</span></th>
                    <th><span data-translate="stretchCmsApp.userHealth.bodyPart">Body Part</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="userHealth in vm.userHealths track by userHealth.id">
                    <td><a ui-sref="user-health-detail({id:userHealth.id})">{{userHealth.id}}</a></td>
                    <td>{{userHealth.workHours}}</td>
                    <td>{{userHealth.doesWorkOut}}</td>
                    <td>{{userHealth.isSmoker}}</td>
                    <td>{{userHealth.isHealthFood}}</td>
                    <td>
                        <span ng-repeat="bodyPart in userHealth.bodyParts">
                            <a class="form-control-static" ui-sref="body-part-detail({id: bodyPart.id})">{{bodyPart.name}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="user-health-detail({id:userHealth.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-health.edit({id:userHealth.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-health.delete({id:userHealth.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
