<div>
    <h2 data-translate="stretchCmsApp.userApp.home.title">User Apps</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="user-app.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="stretchCmsApp.userApp.home.createLabel">
                        Create new User App
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="stretchCmsApp.userApp.name">Name</span></th>
                    <th><span data-translate="stretchCmsApp.userApp.lastName">Last Name</span></th>
                    <th><span data-translate="stretchCmsApp.userApp.age">Age</span></th>
                    <th><span data-translate="stretchCmsApp.userApp.gender">Gender</span></th>
                    <th><span data-translate="stretchCmsApp.userApp.weight">Weight</span></th>
                    <th><span data-translate="stretchCmsApp.userApp.height">Height</span></th>
                    <th><span data-translate="stretchCmsApp.userApp.user">User</span></th>
                    <th><span data-translate="stretchCmsApp.userApp.userHealth">User Health</span></th>
                    <th><span data-translate="stretchCmsApp.userApp.exercise">Exercise</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="userApp in vm.userApps track by userApp.id">
                    <td><a ui-sref="user-app-detail({id:userApp.id})">{{userApp.id}}</a></td>
                    <td>{{userApp.name}}</td>
                    <td>{{userApp.lastName}}</td>
                    <td>{{userApp.age}}</td>
                    <td>{{userApp.gender}}</td>
                    <td>{{userApp.weight}}</td>
                    <td>{{userApp.height}}</td>
                    <td>
                        {{userApp.userEmail}}
                    </td>
                    <td>
                        <a ui-sref="user-health-detail({id:userApp.userHealthId})">{{userApp.userHealthId}}</a>
                    </td>
                    <td>
                        <span ng-repeat="exercise in userApp.exercises">
                            <a class="form-control-static" ui-sref="exercise-detail({id: exercise.id})">{{exercise.name}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="user-app-detail({id:userApp.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-app.edit({id:userApp.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-app.delete({id:userApp.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
