
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProgramLabel" data-translate="stretchCmsApp.program.home.createOrEditLabel">Create or edit a Program</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.program.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.program.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="stretchCmsApp.program.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.program.name"
                    required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="stretchCmsApp.program.intDate" for="field_intDate">Int Date</label>
            <input type="text" class="form-control" name="intDate" id="field_intDate"
                    ng-model="vm.program.intDate"
                    required/>
            <div ng-show="editForm.intDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.intDate.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="stretchCmsApp.program.finishDate" for="field_finishDate">Finish Date</label>
            <input type="text" class="form-control" name="finishDate" id="field_finishDate"
                    ng-model="vm.program.finishDate"
                    required/>
            <div ng-show="editForm.finishDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.finishDate.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="stretchCmsApp.program.interval" for="field_interval">Interval</label>
            <input type="number" class="form-control" name="interval" id="field_interval"
                    ng-model="vm.program.interval"
                    required/>
            <div ng-show="editForm.interval.$invalid">
                <p class="help-block"
                    ng-show="editForm.interval.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.interval.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="stretchCmsApp.program.cantRepetition" for="field_cantRepetition">Cant Repetition</label>
            <input type="number" class="form-control" name="cantRepetition" id="field_cantRepetition"
                    ng-model="vm.program.cantRepetition"
                    required/>
            <div ng-show="editForm.cantRepetition.$invalid">
                <p class="help-block"
                    ng-show="editForm.cantRepetition.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.cantRepetition.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="stretchCmsApp.program.status" for="field_status">Status</label>
                <input type="checkbox" name="status" id="field_status"
                          ng-model="vm.program.status"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="stretchCmsApp.program.isDairy" for="field_isDairy">Is Dairy</label>
                <input type="checkbox" name="isDairy" id="field_isDairy"
                          ng-model="vm.program.isDairy"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="stretchCmsApp.program.isRecommended" for="field_isRecommended">Is Recommended</label>
                <input type="checkbox" name="isRecommended" id="field_isRecommended"
                          ng-model="vm.program.isRecommended"/>
        </div>

        <div class="form-group">
            <label data-translate="stretchCmsApp.program.exercise" for="field_exercise">Exercise</label>
            <select class="form-control" id="field_exercise" multiple name="exercise" ng-model="vm.program.exercises" ng-options="exercise as exercise.name for exercise in vm.exercises track by exercise.id"></select>
        </div>
        <div class="form-group">
            <label data-translate="stretchCmsApp.program.userApp" for="field_userApp">User App</label>
            <select class="form-control" id="field_userApp" name="userApp" ng-model="vm.program.userAppId" ng-options="userApp.id as userApp.id for userApp in vm.userapps"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
